.header {
    background-color: var(--bg);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    

    &__menu {
        display: flex;
        gap: 3rem;
        margin: 0;

        @media (width < 55em) {
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            align-items: center;
            text-align: center;
            background-color: var(--bg);
            padding: 0;
            height: 100%;
            overflow-y: auto;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
        }
    }

    &__link {
        list-style: none;

        a {
            color: var(--white);
            font-weight: 500;
            font-size: var(--step-0);

            @media (width < 55em) {
                font-weight: 900;
                font-size: var(--step-4);
            }
        }

    }
}

.open-menu, .close-menu {
    display: none;

    @media (width < 55em) {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    img {
        height: 3.3rem;
        width: auto;
        filter: invert(100%);
    }
}

.close-menu {
    align-self: flex-end;
    padding: 1.8rem 2rem;
}

.m-padding {
    padding-block: 1.6rem;
}

.menu-opened {
    opacity: 1;
    pointer-events: all;
}